---
---

@import "{{ site.theme }}";
#header_wrap .inner {
  padding: 0;
}
#project_tagline {
  font-size: 40px;
  margin: 0;
  text-align: center;
}
p {
  text-align: center;
}
.triangle_close {
  position: absolute;
  width: 0;
  height: 0;
  margin-left: -29px;
  margin-top: 16px;
  border: 13px solid transparent;
  border-left: 23px solid black;
}
.triangle_close:hover {
  cursor: pointer;
}
.triangle_open {
  position: absolute;
  width: 0;
  height: 0;
  margin-left: -32px;
  margin-top: 19px;
  border: 13px solid transparent;
  border-top: 23px solid gray;
}
.triangle_open:hover {
  cursor: pointer;
}
