---
---

@import "{{ site.theme }}";
#header_wrap .inner {
  padding: 0;
}
#project_tagline {
  font-size: 40px;
  margin: 0;
  text-align: center;
}
.triangle_close {
  position: absolute;
  width: 0;
  height: 0;
  margin-left: -29px;
  margin-top: 13px;
  border: 13px solid transparent;
  border-left: 23px solid black;
}
.triangle_close:hover {
  cursor: pointer;
}
.triangle_open {
  position: absolute;
  width: 0;
  height: 0;
  margin-left: -34px;
  margin-top: 15px;
  border: 13px solid transparent;
  border-top: 23px solid gray;
}
.triangle_open:hover {
  cursor: pointer;
}
#zgw0s-blog {
  font-size: 24px;
  text-align: center;
}
#zgw0s-blog a {
  color: gray;
  text-decoration: underline;
}
@media screen and (max-width: 480px) {
  .triangle_close {
    margin-top: 7px;
    border: 12px solid transparent;
    border-left: 20px solid black;
  }
  .triangle_open {
    margin-top: 10px;
    border: 12px solid transparent;
    border-top: 20px solid gray;
  }
  #zgw0s-blog {
    margin-right: 29px;
  }
}
