---
---

@import "{{ site.theme }}";
#header_wrap .inner {
  padding: 0;
}
#project_tagline {
  font-size: 40px;
  margin: 0;
  text-align: center;
}
p {
  text-align: center;
}
.triangle_close {
  position: absolute;
  width: 0;
  height: 0;
  margin-left: -30px;
  margin-top: 9px;
  border: 16px solid transparent;
  border-left: 29px solid black;
}
.triangle_open {
  position: absolute;
  width: 0;
  height: 0;
  margin-left: -30px;
  margin-top: 9px;
  border: 16px solid transparent;
  border-top: 29px solid gray;
}
